* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6f9;
}

.quiz-container {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.quiz-logo {
  width: 80px;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#start-btn, #restart-btn {
  background: #007bff;
  color: white;
}

#next-btn {
  background:#3b82f6;
  color: white;
}

.btn-list {
  list-style-type: style;;
  margin: 20px 0;
  margin-left: 4%;
}

.btn-list li {
  margin-bottom: 10px;
}

.answer-btn {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.answer-btn:hover {
  background: #ddd;
}

.correct {
  background: #28a745 !important;
  color: white;
}

.wrong {
  background: #dc3545 !important;
  color: white;
}

.progress-bar {
  background: #ddd;
  border-radius: 6px;
  height: 8px;
  margin: 10px 0;
}

#progress {
  height: 100%;
  width: 0%;
  background: #007bff;
  border-radius: 6px;
}

.hidden {
  display: none;
  background-color: #007bff;
}

.result-header {
  text-align: center;
  margin-bottom: 15px;
}

.trophy-icon {
  width: 70px;
  margin-bottom: 10px;
}

#percentage-text {
  font-size: 40px;
  font-weight: bold;
  color: #3b82f6; /* blue */
  margin: 10px 0;
}

#summary-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.result-box {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.correct-box, .wrong-box {
  flex: 1;
  margin: 0 8px;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.correct-box {
  background: #d1fae5; /* light green */
  color: #065f46;
  border: 2px solid #10b981;
  text-align: center;
}

.wrong-box {
  background: #fee2e2; /* light red */
  color: #991b1b;
  border: 2px solid #ef4444;
  text-align: center;
}

#restart-btn {
  background: #2563eb;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}
